.page {
  text-align: center;
  padding: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.project-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  padding: 8px;

}

.project-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #007bff;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  padding-top: 12px;
}

.project-btn:hover {
  background: #0056b3;
}
